/* ::::: https://rcl.blackpinguin.de/style/basic.css ::::: */

body { background-color: rgb(157, 222, 255); font-family: Tahoma,Helvetica,Arial,Verdana; color: rgb(87, 106, 253); }
.hidden { display: none; visibility: hidden; }
.clearfix::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; font-size: 0px; }
img, svg, .teaser, input[type="button"], input[type="submit"] { -moz-user-select: none; }
table.courses > tbody > tr > td:nth-of-type(2) { text-align: left; }
th { white-space: nowrap; hyphens: none; }
a { color: rgb(0, 119, 0); text-decoration: underline; }
a:focus, a:hover, a:not([href]) { text-decoration: none; }
a.extern[href], a.private[href], a.pdf, a.youtube, .aicon { padding-right: 1.1em; background-position: right center; background-repeat: no-repeat; background-size: 1em 1em; }
a.extern { color: rgb(204, 32, 221); }
a.extern[href], .extern.aicon { background-image: url('extern.png'); }
a.youtube { color: red; }
a.youtube[href], .youtube.aicon { background-image: url('yt.png'); }
nav a { text-decoration: none; }
nav a:focus, nav a:hover { text-decoration: underline; }
h5, h4, h3, h2, h1 { margin-bottom: 0.25em; margin-top: 0.25em; }
#avatar { position: absolute; border: 2px outset rgb(255, 226, 152); border-radius: 58px; }
#avatar > div { width: 100px; height: 100px; background-image: url('avatar_pingu.png'); background-size: cover; background-position: center center; border-radius: 56px; border: 6px solid rgb(255, 226, 152); }
#top { position: absolute; top: 28px; left: 66px; width: calc(100% - 12px - 66px); min-width: 722px; border: 2px outset rgb(255, 226, 152); border-radius: 22px; }
#top > div { height: 52px; background-color: rgb(211, 241, 255); border-radius: 20px; border: 10px solid rgb(255, 226, 152); }
#top > div > header > h1 { margin-top: 0px; margin-bottom: 0px; margin-left: 58px; line-height: 52px; font-size: 32px; text-align: center; font-family: Comic Sans MS,Georgia; }
#navi { position: absolute; top: 66px; left: 28px; border-radius: 22px; border: 2px outset rgb(255, 226, 152); }
#navi > div { width: 110px; background-color: rgb(211, 241, 255); border-radius: 20px; border: 10px solid rgb(255, 226, 152); }
#navi > div > nav { margin-top: 46px; line-height: 35px; font-size: 18px; text-align: center; font-family: Georgia,Comic Sans MS; }
#content { position: absolute; width: calc(100% - 24px - 138px); min-width: 638px; top: 80px; left: 138px; border-radius: 22px; border: 2px outset rgb(255, 165, 62); text-align: justify; hyphens: auto; }
#content > div { background-color: rgb(255, 242, 208); border-radius: 20px; border: 10px solid rgb(255, 165, 62); }
#content > div > article { margin: 22px 10px 10px 22px; }
#lang { position: absolute; top: 385px; left: 47px; }
#de, #en { display: inline-block; width: 40px; height: 26px; vertical-align: middle; }
div#en { background-image: url('en.png'); margin-left: 4px; }
#lang > div { border-style: solid; border-color: rgb(47, 173, 41); border-width: 2px; }
#profiles > div:nth-of-type(3n+1):not(:first-of-type) { clear: left; margin-top: 10px; }
#profiles > div > div > div:not(:first-of-type) { margin-top: 10px; }
#profiles > div > div > div::before { content: ""; display: block; position: absolute; width: 64px; height: 64px; margin-left: -72px; transform: scale(0.5); transform-origin: 100% 0px 0px; background-image: url('logos64.png'); background-repeat: no-repeat; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(1)::before { background-position: 0px 0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(2)::before { background-position: -64px 0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(3)::before { background-position: -128px 0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(4)::before { background-position: -192px 0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(5)::before { background-position: -256px 0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(6)::before { background-position: -320px 0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(7)::before { background-position: -384px 0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(8)::before { background-position: -448px 0px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(1)::before { background-position: 0px -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(2)::before { background-position: -64px -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(3)::before { background-position: -128px -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(4)::before { background-position: -192px -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(5)::before { background-position: -256px -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(6)::before { background-position: -320px -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(7)::before { background-position: -384px -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(8)::before { background-position: -448px -64px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(1)::before { background-position: 0px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(2)::before { background-position: -64px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(3)::before { background-position: -128px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(4)::before { background-position: -192px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(5)::before { background-position: -256px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(6)::before { background-position: -320px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(7)::before { background-position: -384px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(8)::before { background-position: -448px -128px; }
/* ::::: https://rcl.blackpinguin.de/style/reference.css ::::: */

#projects > tbody > tr > td { width: 100%; }
#projects > tbody > tr > th { vertical-align: top; font-weight: normal; padding-right: 10px; }
#projects > tbody > tr > th, #projects > tbody > tr > td { padding-top: 10px; padding-bottom: 10px; }
#projects div span { padding: 2px 5px; }
#projects div:hover > span { background-color: rgba(255, 165, 46, 0.2); }
#projects div:hover::after { content: ""; right: 20px; top: 35px; position: absolute; display: block; width: 25vw; height: calc(100% - 60px); background-size: contain; background-repeat: no-repeat; background-position: right top; opacity: 1; pointer-events: none; }
#projects tr.y2022 div:nth-of-type(2):hover::after { background-image: url('smoo.dark.thumb.png'); }
#projects tr.y2022 div:nth-of-type(5):hover::after { background-image: url('preview.thumb.png'); }
#projects tr.y2019 div:nth-of-type(2):hover::after { background-image: url('pine.thumb.png'); }
#projects tr.y2016 div:nth-of-type(1):hover::after { background-image: url('hsvscr.png'); }
#projects tr.y2015 div:nth-of-type(1):hover::after { background-image: url('plakat.thumb.png'); }
#projects tr.y2015 div:nth-of-type(2):hover::after { background-image: url('rcl.png'); }
#projects tr.y2015 div:nth-of-type(3):hover::after { background-image: url('status.png'); }
#projects tr.y2014 div:nth-of-type(1):hover::after { background-image: url('build.thumb.png'); }
#projects tr.y2014 div:nth-of-type(2):hover::after { background-image: url('dheap.png'); }
#projects tr.y2014 div:nth-of-type(3):hover::after { background-image: url('calc.thumb.png'); }
#projects tr.y2014 div:nth-of-type(4):hover::after { background-image: url('gefahr.png'); }
#projects tr.y2014 div:nth-of-type(5):hover::after { background-image: url('ic.png'); }
#projects tr.y2013 div:nth-of-type(1):hover::after { background-image: url('botz.thumb.png'); }
#projects tr.y2013 div:nth-of-type(2):hover::after { background-image: url('dsom.thumb.png'); }
#projects tr.y2013 div:nth-of-type(3):hover::after { background-image: url('mindex.png'); }
#projects tr.y2013 div:nth-of-type(4):hover::after { background-image: url('ms.thumb.png'); }
#projects tr.y2013 div:nth-of-type(5):hover::after { background-image: url('tor.png'); }
#projects tr.y2013 div:nth-of-type(6):hover::after { background-image: url('02.png'); }
#projects tr.y2011 div:nth-of-type(1):hover::after { background-image: url('ais.thumb.png'); }
#projects tr.y2011 div:nth-of-type(2):hover::after { background-image: url('unfall.png'); }
#projects tr.y2011 div:nth-of-type(3):hover::after { background-image: url('vg.png'); }
#projects tr.y2011 div:nth-of-type(4):hover::after { background-image: url('mc1.thumb.png'); }
#projects tr.y2010 div:nth-of-type(1):hover::after { background-image: url('geotweet.thumb.png'); }
#projects tr.y2010 div:nth-of-type(2):hover::after { background-image: url('gwtbw.png'); }
#projects tr.y2009 div:nth-of-type(1):hover::after { background-image: url('mdm.jpg'); }
#projects tr.y2008 div:nth-of-type(1):hover::after { background-image: url('g4y.thumb.png'); }
#projects tr.y2007 div:nth-of-type(1):hover::after { background-image: url('lifeless.png'); }
#projects tr.y2003 div:nth-of-type(1):hover::after { background-image: url('bp.png'); }
#contributions { margin-top: 25px; }
#contributions > tbody > tr > td { width: 100%; }
#contributions > tbody > tr > th { vertical-align: top; font-weight: normal; padding-right: 10px; }
#contributions > tbody > tr > th, #contributions > tbody > tr > td { padding-top: 10px; padding-bottom: 10px; }
#contributions div span { padding: 2px 5px; }
