body { background-color: #9ddeff; font-family: Tahoma, Helvetica, Arial, Verdana; color: #576afd; }

.hidden { display: none; visibility: hidden; }

.l { text-align: left; }
.c { text-align: center; }
.r { text-align: right; }

.i { font-style: italic; }
.b { font-weight: bold; }

.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0; }

/* manual hyphens */
.mhyphen {
    -webkit-hyphens: manual !important;
       -moz-hyphens: manual !important;
        -ms-hyphens: manual !important;
            hyphens: manual !important;

}

img, svg, .teaser, input[type="button"], input[type="submit"] {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

svg { cursor: default; }

table.course { margin: -5px -10px -5px -10px; border-spacing: 10px 5px; border-collapse: separate; }
table.course th, table.course td { vertical-align: top; }

table.courses { border-spacing: 0px; border-collapse:collapse; }
table.courses td, table.courses th {
    border-width:1px;
    border-style:solid;
    border-color: rgba(87,106,253,.3);
    text-align:center;
    padding: 3px;
}
table.courses > tbody > tr > td:nth-of-type(2) { text-align: left; }
table.courses > tbody > tr > td:last-of-type {
    white-space:nowrap;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
table.courses td.l, table.courses th.l { text-align:left; }
table.courses td.r, table.courses th.r { text-align:right; }

th {
    white-space: nowrap;
    -webkit-hyphens: none;
       -moz-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
}


/* default a */
a { color: #007700; text-decoration: underline; }
a:focus, a:hover, a:not([href]) { text-decoration: none; }
/* a with classes */
a.extern[href], a.pdf, a.private[href], .aicon {
    padding-right: 1.1em;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
}
a.extern { color: #cc20dd; }
a.extern[href], .extern.aicon { background-image: url(/img/extern.png); }
a.pdf { color: red; background-image: url(/img/pdf.png); }
a.private { color: #ff8030; }
a.private[href], .private.aicon { background-image: url(/img/lock.png); }
a.pdf > span, a.private > span { font-size: 0.6em; display: inline-block; vertical-align: top;}
/* a in navigation */
nav a { text-decoration: none; }
nav a:focus, nav a:hover { text-decoration: underline; }


h5, h4, h3, h2, h1 { margin-bottom: 0.25em; margin-top: 0.25em; }
h5 .ref, h4 .ref, h3 .ref, h2 .ref, h1 .ref, th .ref, table.courses > tbody > tr > td:last-of-type .ref  {
    /* Blocksatz wieder anschalten */
    text-align: justify;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    white-space: normal;

    text-decoration: none;
    font-weight: normal;
}


/* penguin avatar */
#avatar {
    position: absolute;
    border: 2px outset;
    border-color: #ffe298;

    -webkit-border-radius: 58px;
       -moz-border-radius: 58px;
            border-radius: 58px;
}
#avatar > div {
    width: 100px;
    height: 100px;

    background-image: url(/img/avatar_pingu.jpg);
    background-size: cover;
    background-position: center;

    -webkit-border-radius: 56px;
       -moz-border-radius: 56px;
            border-radius: 56px;
    border: 6px solid;
    border-color: #ffe298;
}


/* title header */
#top {
    position: absolute;
    top: 28px;
    left: 66px;
    width: calc(100% - 12px - 66px);
    min-width: 722px;
    border: 2px outset;
    border-color: #ffe298;
    /* runder Rand */
    -webkit-border-radius: 22px;
       -moz-border-radius: 22px;
            border-radius: 22px;
}
#top > div {
    height: 52px;
    background-color: #d3f1ff;

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    border: 10px solid;
    border-color: #ffe298;
}
#top > div > header > h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 58px;

    line-height: 52px;
    font-size: 32px;
    text-align: center;
    font-family: Comic Sans MS, Georgia; /* Yay! */
}


/* navigation container */
#navi {
    position: absolute;
    top: 66px;
    left: 28px;

    -webkit-border-radius: 22px;
       -moz-border-radius: 22px;
            border-radius: 22px;
    border: 2px outset;
    border-color: #ffe298;

}
#navi > div {
    width: 110px;
    background-color: #d3f1ff;

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    border: 10px solid;
    border-color: #ffe298;
}
#navi > div > nav {
    margin-top: 46px;

    line-height: 35px;
    font-size: 18px;
    text-align: center;
    font-family: Georgia, Comic Sans MS;
}


/* content container */
#content {
    position: absolute;
    width: calc(100% - 24px - 138px);
    min-width: 638px;
    top: 80px;
    left: 138px;

    -webkit-border-radius: 22px;
       -moz-border-radius: 22px;
            border-radius: 22px;
    border: 2px outset;
    border-color: #ffa53e;

    text-align: justify;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
#content > div {
    background-color: #fff2d0;

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    border: 10px solid;
    border-color: #ffa53e;
}
#content > div > article {
    margin: 22px 10px 10px 22px;
}


/* flags to change language */
#lang {
    position: absolute;
    /* top: calc(140px + 6 * 35px) */
    top: 350px;
    /*left: calc(138px - 86px - 5px);*/
    left: 47px;
}
#de, #en {
    display: inline-block;
    width: 40px;
    height: 26px;
    vertical-align: middle;
}
div#de { background-image: url(/img/de.png); margin-right: 4px; }
div#en { background-image: url(/img/en.png); margin-left: 4px; }
#lang > div { border-style:solid; border-color: #2fad29; border-width:2px; }
/*#lang > *:first-child { margin-right: 2px; }*/


/* teaser on landing page */
.teaser {
    display: block;
    text-align: center;
    width: 30%;

    background-color: #ffe298;
    color: black;

    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: visible;

    padding-bottom: 5px;

    /* round border */
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    /* animation */
    -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
}
.teaser:hover { background-color: #ffa53e; }
.teaser > img {
    width: 100%; height: auto;

    -webkit-border-top-left-radius: 5px;
       -moz-border-top-left-radius: 5px;
            border-top-left-radius: 5px;

    -webkit-border-top-right-radius: 5px;
       -moz-border-top-right-radius: 5px;
            border-top-right-radius: 5px;

    -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
}
.teaser:hover > img { opacity: 0.9; }


/* contact */
#contact-legal > div > div:first-of-type {
    text-align: left !important;
    font-size: 1.1em !important;
    margin-bottom: 0.25em; margin-top: 0.25em;
}
#contact-legal .impleft { padding-left: 0 !important; }

/* contact form */
input, textarea {
    box-sizing: border-box;
    line-height: 1.5em;
    font-size: 0.9em;
    font-family: Tahoma, Helvetica, Arial, Verdana;
}
#contact-form { min-width: 300px; width: 100%; max-width: 700px; margin-top: 30px; }
#contact-form input[type="submit"] { float: right; padding: 3px; }
#contact-form textarea { min-height: 32px; resize: vertical; overflow-x: hidden; overflow-y: auto; }
#contact-form input[type="text"], #contact-form textarea { width: 100%; padding: 6px; }
#contact-form span.ok, #contact-form span.error { margin: 7px 0 7px 0; line-height: 1.5em; float: left; }
#contact-form span.ok { color: green; }
#contact-form span.error { color: red; }
#contact-form input, #contact-form textarea { background-color: #fff !important; }
/* Chrome autofill fix */
#contact-form input:-webkit-autofill {
    background-color: #fff !important;
    -webkit-box-shadow: ,0 0 0 50px #fff inset;
}
/* red inset shadow on bad input */
#contact-form input.red
,#contact-form textarea.red
{
    -webkit-box-shadow: inset 0 0 6px 3px #faa;
       -moz-box-shadow: inset 0 0 6px 3px #faa;
            box-shadow: inset 0 0 6px 3px #faa;
    border-color: #f66;
}
/* Chrome autofill fix */
#contact-form input.red:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 6px 3px #faa, 0 0 0 50px #fff inset;
}
#contact-form input, #contact-form textarea {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid #bbb;
    outline: none;
}
#contact-form input[name="sp-css"] { display: none; }
#contact-form input[name="sp-js"] { visibility: hidden; }

/* contact profiles */
#profiles > div { float: left; width: 33%; text-align: center; margin-top: 20px; }
#profiles > div:nth-of-type(3n+1):not(:first-of-type) { clear: left; margin-top: 10px; }
#profiles > div > div {display: inline-block; text-align: left; }
#profiles > div > div > h3  { padding: 5px; margin: 0; margin-left: -40px; }
#profiles > div > div > div { padding: 5px; }
#profiles > div > div > div:not(:first-of-type) { margin-top: 10px; }
#profiles > div > div > div:hover {
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    opacity: 1.0;
}
#profiles > div > div > div > div { line-height: 1.3em; font-size: 0.7em; vertical-align: top; }
#profiles .fade { opacity: 0.35; }
#profiles .fade:hover, #profiles .fade:focus { opacity: 0.8; }

/* contact profiles logos */
#profiles > div > div > div:before {
    content: "";
    display:block;
    position: absolute;

    width: 64px;
    height: 64px;
    margin-left: -72px; /* 64+8 */
    -webkit-transform: scale(0.5);
       -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
         -o-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 0;
       -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
         -o-transform-origin: 100% 0;
            transform-origin: 100% 0;

    background-image: url(/img/logos64.png);
    background-repeat: no-repeat;
}
/* CSS 3.0 */
#profiles > div:nth-of-type(1) > div > div:nth-of-type(1):before { background-position:    0px    0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(2):before { background-position:  -64px    0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(3):before { background-position: -128px    0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(4):before { background-position: -192px    0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(5):before { background-position: -256px    0px; }
#profiles > div:nth-of-type(1) > div > div:nth-of-type(6):before { background-position: -320px    0px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(1):before { background-position:    0px  -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(2):before { background-position:  -64px  -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(3):before { background-position: -128px  -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(4):before { background-position: -192px  -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(5):before { background-position: -256px  -64px; }
#profiles > div:nth-of-type(2) > div > div:nth-of-type(6):before { background-position: -320px  -64px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(1):before { background-position:    0px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(2):before { background-position:  -64px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(3):before { background-position: -128px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(4):before { background-position: -192px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(5):before { background-position: -256px -128px; }
#profiles > div:nth-of-type(3) > div > div:nth-of-type(6):before { background-position: -320px -128px; }
/* CSS 4.0 *//*
#profiles > div:nth-of-type(1) > div > div:before { background-position-y:    0px; }
#profiles > div:nth-of-type(2) > div > div:before { background-position-y:  -64px; }
#profiles > div:nth-of-type(3) > div > div:before { background-position-y: -128px; }
#profiles > div > div > div:nth-of-type(1):before { background-position-x:    0px; }
#profiles > div > div > div:nth-of-type(2):before { background-position-x:  -64px; }
#profiles > div > div > div:nth-of-type(3):before { background-position-x: -128px; }
#profiles > div > div > div:nth-of-type(4):before { background-position-x: -192px; }
#profiles > div > div > div:nth-of-type(5):before { background-position-x: -256px; }
#profiles > div > div > div:nth-of-type(6):before { background-position-x: -320px; }*/


/* error page */
#http-error p > b {
    color: red;
    letter-spacing: 0.1em;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}
