/*
 * Shamelessly copied from https://what-if.xkcd.com/ and modified, so
 * that footnotes are still available if JavaScript is not available.
 */

.ref {
    position: relative;
    vertical-align: baseline;
}

.refnum {
    position: relative;
    left: 2px;
    bottom: 1ex;
    color: #005994;
    font-size: .7em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.refbody {
    font-size: .7em;
    line-height: 1.1;
    display: none;
    min-width: 20em;
    position: absolute;
    left: 25px;
    bottom: 5px;
    border: 1px solid;
    padding: 5px;
    background-color: #fff;
    word-wrap: break-word;
    z-index: 9999;
    overflow: auto;
}

a.reflink {
    color: #005994;
    text-decoration: none;
}

#reftable, #reftable * {
    border: 0px;
}
#reftable td { text-align: left; width: 100%; }
#reftable th { text-align: right; vertical-align: top; }
